<%- include("header") -%>

<div class="container-fluid">
    <p>We are here to help those 1st year students who are suffering in detecting the path that what they must do in upcoming days so that they can become successfull.</p>
    <p>We provide a direct predefined path of some seniors who already get success .</p>
    <button class="btn btn-dark"><a href="/viewpost" style="text-decoration:none;color:white">view Posts</a></button>
</div>

<%- include("footer") -%>