<%- include("newheader") -%>

<div class="alert alert-danger" role="alert">
    Title should be equal to username
</div>

<div class="container-fluid">
    <form action="/compose" method="post">
        <h1>Compose</h1>
        <div>
            <label style="font-family: 'Akaya Telivigala', cursive;font-weight: 700;margin-bottom: 5px;">Title</label>
            <br/>
            <input type="text" name="title" size="100" class="p1">
        </div>
        <div>
            <label style="font-family: 'Akaya Telivigala', cursive;font-weight: 700;margin-top: 10px;margin-bottom: 5px;">Post</label>
            <br/>
            <textarea cols="103" rows="10" name="text" class="p1"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-info">Publish</button>
    </form>
</div>

<%- include("footer") -%>