<%- include("header") -%>

<div class="container-fluid">
    <div class="col">
        <h3>Contacts</h3>
        <ul>
            <li>Location : Barrister Mullah Colony, MNNIT Allahabad Campus, Teliarganj, Prayagraj, Uttar Pradesh</li>
            <li><i>9569744120</i></li>
            <li><i>akashchimu1718@gmail.com</i></li>
        </ul>
    </div>
</div>

<%- include("footer") -%>