<!-- style="display: flex;justify-content: center;text-align: center;" -->
<!--  style="margin: auto;" -->
<div class="row p">
    <div class="col" style="margin: auto;">
        <h3>Moto</h3>
        <p>We want that more && more seniors get their views so that their juniors got more benifits</p>
    </div>
    <div class="col">
        <h3>Contacts</h3>
        <ul>
            <li>Location : Katra Prayagraj UP</li>
            <li><i>9569744120</i></li>
            <li><i>akashchimu1718@gmail.com</i></li>
        </ul>
    </div>
    <div class="col">
        <h3>Opening hours for post</h3>
        <ul>
            <li>Monday-Thrusday : All time</li>
            <li>Friday-saturday : 12am-8pm</li>
            <li>Sunday : Can't Post</li>
        </ul>
    </div>
    <div class="col">
        <h3>Follow us</h3>
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Linked-in</li>
        </ul>
    </div>
</div>

</body>
</html>