<%- include("header") -%>

<div class="container-fluid">
    <h1>Hey Welcome</h1>
    <ul>
        <li>
            <h3 style="display: inline;">View your senior posts :</h3> <button class="btn btn-dark"><a href="/viewpost" style="text-decoration:none;color:white">view Posts</a></button>
        </li>
        <li>
            <h3>
                Share your journey for your juniors :<button class="btn btn-dark"><a href="/login" style="text-decoration:none;color:white">Login</a></button>
            </h3>
        </li>
    </ul>
    
</div>

<%- include("footer") -%>