<%- include("newheader") -%>

<h2>You have not yet shared your views</h2>
<h3>Create a post <button class="btn btn-dark"><a href="/compose" style="text-decoration:none;color:white">Create</a></button></h3>

<%- include("footer") -%>