<%- include("header") -%>

<div class="alert alert-danger" role="alert">
    Remember your user later on it must matched with your title while composing post
</div>

<div style="height: 500px;display: flex;">
    <form action="/register" method="post" style="width: 200px;margin: auto;margin-top: auto;">
        <h1>Register</h1>
            <div>
                <label for="email">Email   </label>
                <input type="email" name="username">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <div>
                <label>Username</label>
                <input type="text" name="title">
            </div>
        <button type="submit" class="btn btn-dark">Register</button>
    </form>
</div>

<%- include("footer") -%>